pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
streamlit
anaconda-anon-usage==0.4.4
archspec==0.2.3
asttokens==3.0.0
boltons==23.0.0
brotli-python==1.0.9
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
comm==0.2.2
conda==24.11.0
conda-content-trust==0.2.0
conda-libmamba-solver==24.7.0
conda-package-handling==2.3.0
conda-package-streaming==0.10.0
cryptography==42.0.5
debugpy==1.8.9
decorator==5.1.1
distro==1.9.0
exceptiongroup==1.2.2
executing==2.1.0
frozendict==2.4.2
idna==3.7
importlib-metadata==8.5.0
ipykernel==6.29.5
ipython==8.30.0
jedi==0.19.2
jsonpatch==1.33
jsonpointer==2.1
jupyter-client==8.6.3
jupyter-core==5.7.2
matplotlib-inline==0.1.7
menuinst==2.1.2
nest-asyncio==1.6.0
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pip==24.2
platformdirs==3.10.0
pluggy==1.0.0
prompt-toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure-eval==0.2.3
pycosat==0.6.6
pycparser==2.21
pygments==2.18.0
pysocks==1.7.1
python-dateutil==2.9.0.post0
pyzmq==25.1.2
requests==2.32.3
ruamel.yaml==0.17.21
setuptools==72.1.0
six==1.16.0
stack-data==0.6.2
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
truststore==0.8.0
typing-extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
wheel==0.43.0
zipp==3.21.0
zstandard==0.22.0
